/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

/* General */

* {
  outline: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "salt";
  touch-action: manipulation;
  font-family: "Nunito", sans-serif;
  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  object-fit: cover;
  object-position: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.logo {
  position: absolute;
  top: 68px;
  top: 7%;
  left: 0;
  right: 0;
  margin: auto;
  width: 96px;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  z-index: 4;
  pointer-events: none;
}

.scoreBox {
  position: absolute;
  top: 113px;
  top: 11.8%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
  z-index: 4;
  pointer-events: none;
}

.score {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Agdasima", sans-serif;
  text-align: center;
}

.scoreLabel {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: -4px;
}

/* Start Screen */

.startGameScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.playAgainBtnBox {
  position: absolute;
  bottom: 197px;
  bottom: 20.5%;
  left: 30px;
  right: 30px;
  margin: auto;
}

.playBtn,
.playAgainBtn {
  position: absolute;
  bottom: 197px;
  bottom: 20.5%;
  display: block;
  width: max-content;
  height: auto;
  background: linear-gradient(180deg, #e61d2b 0%, #b2131e 100%);
  box-shadow: 2.82px 2.82px 13.62px 0px #905610;
  border-radius: 24px;
  border: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 20px 20px 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  white-space: nowrap;
}

.playAgainBtn {
  bottom: 170px;
  bottom: 17.5%;
  box-shadow: 2.82px 2.82px 13.62px 0px #661411;
}

.playBtnIcon {
  display: block;
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
}

.playBtnLabel {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-shadow: 0 3px rgba(0, 0, 0, 0.149);
}

.howToPlayBtn,
.closeGameBtn {
  position: absolute;
  bottom: 132px;
  bottom: 14%;
  left: 0;
  right: 0;
  margin: auto;
  color: #b70316;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.closeGameBtn {
  font-size: 20px;
  color: #fff;
  bottom: 9%;
  text-shadow: 0px 2.35px 0px rgba(0, 0, 0, 0.149);
}

.muteUnmuteIcon {
  position: absolute;
  bottom: 60px;
  bottom: 6.2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center;
}

/* Game Screen */

canvas {
  position: relative;
  z-index: 2;
}

/* Game Over Screen */

.gameOverScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.restartBtn {
  position: relative;
  font-size: 14px;
  padding: 10px 15px;
}

.wellPlayedImgBox {
  position: absolute;
  top: 27%;
  left: 10%;
  right: 10%;
}

.wellPlayedImg {
  display: block;
  width: 100%;
}

.glowEffect {
  position: absolute;
  top: -4%;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  opacity: 0.8;
  object-fit: cover;
  object-position: top center;
}

.noAttemptsMessage {
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.noAttemptsIcon {
  width: 24px;
  display: block;
}

.noAttemptsText {
  color: #fff;
  font-size: 16px;
  text-shadow: 0px 2.35px 0px rgba(0, 0, 0, 0.149);
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  margin-top: 8px;
}

/* Loading Screen */
.loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 6px solid rgba(0, 0, 0, 0.4);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
